doctype html
html
  head
    title= '金隅翡丽小区空气质量检测'
    meta(name = 'viewport', content = 'width=device-width,user-scalable=no')
    link(rel = 'stylesheet', href = '/stylesheets/bootstrap.min.css')
    script(src = '/javascripts/bootstrap.min.js')
  body
    block content
