doctype html
html
  head
    title= '金隅翡丽小区空气质量检测'
    meta(name = 'viewport', content = 'width=device-width,user-scalable=no')
    link(rel = 'stylesheet', href = 'http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src = 'http://apps.bdimg.com/libs/echarts/2.1.9/source/echarts-all.js')
  body
    block content
